:root {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #444;
  background-color: #f7fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3,
h4 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 0.6rem 0.7rem;
  border-radius: 22px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

.submit {
  border: none;
  background-color: #A7C46C;
  color: #f7fafc;
}

.logo-wrapper {
 display: flex;
    justify-content: center;
    width: 100%;
}

.logo,
.logo a {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0;
  /* margin-left: 5rem; */
}

.logo img {
  width: 48.4%;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #A7C46C;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}