:root {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  background-color: #f7fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3,
h4 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 0.7rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  /* margin-left: 5rem; */
}

.logo img {
  width: 45%;
}
