* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

/** MainContainer */
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7fafc;
  width: 100vw;
}
/** Choose Fruit-Button-Container */
/* .chooseBtnCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 5rem; 
  margin-right: 1rem; 
} */

.chooseBtn {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #faf1cf9b;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 5px;
  padding: 8px;
}
.chooseBtn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 12px 1px rgba(0, 0, 0, 0.5);
}

/** Fruit-Button-Container */
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-top: 5rem;
  /* margin-right: 1rem; */
  /* align-items: center; */
  gap: 7px;
}

/** Fruit-Cards */
.card-2 {
  padding: 10px 15px 10px;
  margin: 2px;
  background-color: #faf1cf9b;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-2 p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  /* text-align: center; */
}

/* .card-2:hover {
  outline: 5px solid #357560;
} */

.selected {
  outline: 5px solid #357560;
}

.card-2 img {
  width: 50%;
  height: auto;
}

/** Bottom-Filter-Buttons */

.applyFilter {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;
  width: 100vw;
  /* gap: 8px; */
}

.select {
  margin-top: 1rem;
  padding: 10px 25px;
  background-color: #357560;
  color: #f9f8f2;
}
.select:hover {
  outline: 3px solid #f9f8f2;
}
.select:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.delete {
  margin-top: 1rem;
  padding: 10px 25px;
  background-color: none;
  border: 3px solid #af473c;
  color: black;
}
.delete:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
