.map {
  width: 100vw;
  height: 89vh;
  position: relative;
}

.location_icon {
  height: 2rem;
  width: auto;
}

.btn_map_wrapper {
  position: absolute;
  top: 20%;
  right: 2%;
  display: flex;
  flex-direction: column;
}

.btn_map {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
}

.btn_map:first-child {
  margin-bottom: 20px;
}

.btn_map img {
  width: 60%;
  height: auto;
}

.btn_map:hover {
  cursor: pointer;
  background-color: #faf1cf;
}

.btn_map:active {
  background-color: #faf1cf;
  transform: scale(0.9);
}

.myLocation_marker img {
  width: 35px;
}

.location_info_modal {
  position: absolute;
  bottom: 0px;
  height: 35%;
  width: 100%;
  background-color: #c8e0c3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10% 2%;
}

.location_info_modal h2 {
  margin-bottom: 1.5rem;
}

.close_icon {
  top: 5%;
  right: 2%;
  position: absolute;
}

.close_icon:hover {
  cursor: pointer;
}

.btn_info_modal {
  border: none;
  background-color: #357560;
  color: #f9f8f2;
  padding: 0.5rem 1.2rem;
  border-radius: 22px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.addresse {
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 900;
}

.info-modal-type-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*LOGO AND LOGIN */
.header-login {
  display: flex;
  justify-content: flex-end;
}

.home-logo {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 2rem 0.5rem 0;
}

.home-logo a{
  display: flex;
  justify-content: flex-end;
}

.home-logo img {
  width: 55%;
}

.login-btn {
  background-color: transparent;
  margin: 0.2rem 0 0 0;
}

.login-btn img {
  width: 80%;
}

.profile-btn {
  background-color: transparent;
  margin: 0.3rem 0 0 0;
}
.profile-btn img {
  width: 81%;
}

.loading-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}
