.locationDetails-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.locationDetails-details {
    margin: 1.5rem 0;
    line-height: 1.5rem;
}

.locationDetails-details p {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

#write-comment {
    display: flex;
    flex-direction: column;
}

.commentForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;

}

.btn_comment {
    padding: 0.5rem 1rem;
  border-radius: 22px;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: #357560;
  color: #f9f8f2;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
  margin-top: 1rem; 

}

.commentForm textarea {
    padding: 0.5rem;
    margin: 0.7rem 0;
    border: none;
    border-radius: 22px;
    background-color: white;
    font-size: 1rem;
    
  }


textarea {
  font-family: Nunito, sans-serif;
  width: 300px;
  height: 100px;
}

textarea:focus{
  outline: none;
  border: 2px solid #faf1cf;
}
  