.tree-form-container {
  margin: 0.5rem 1rem;
  line-height: 1.5rem;
}

.tree-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

label {
  font-weight: bold;
}

.tree-input-field {
  padding: 0.5rem;
  margin: 0.7rem 0;
  border: none;
  border-radius: 22px;
  background-color: white;
  font-size: 1rem;
}

.address-confirm {
  display: flex;
  justify-content: center;
}

.address-btn {
  font-family: "Nunito", sans-serif;
  margin: 1rem 0;
  background-color: #357560;
  color: white;
  border-radius: 22px;
  padding: 0.5rem 1rem;
}

input[type="number"],
input[type="date"] {
  font-family: Nunito, sans-serif;
}

.tree-form p {
  font-size: 0.9rem;
}

input[type="file"] {
  display: none;
}

.upload-icon {
  height: 70px;
  cursor: pointer;
}

.harvest-date {
  margin: 1.5rem 0;
}

tree-form-image {
  margin: 1.5rem 0;
}

.tree-upload-success {
  margin: 1.3rem 0;
  background-color: #35756071;
  text-align: center;
}
.submit {
  padding: 0.6rem 1.5rem;
}

.image-upload-wrapper{
    margin: 1.5rem 0;
}

.image-upload {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 22px;
  justify-content: space-evenly;
}

.image-upload p {
  display: flex;
  align-items: center;
}

.image-upload-btn {
  font-family: "Nunito", sans-serif;
  margin: 1rem 0;
  background-color: #357560;
  color: white;
  border-radius: 22px;
  padding: 0 1.5rem;
}
