.tree-form-container {
  margin: 0.5rem 1rem;
  line-height: 2rem;
}

.tree-form {
  display: flex;
  flex-direction: column;
}

.tree-input-field {
  padding: 0.5rem;
  margin: 0.7rem 0;
  border: none;
  border-radius: 22px;
  background-color: white;
  font-size: 1rem;
}

.address-btn {
  font-family: 'Nunito', sans-serif;
  text-decoration: underline;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  color: #444;
}

input[type='number'],
input[type='date'] {
  font-family: Nunito, sans-serif;
}

.tree-form p {
  font-size: 0.9rem;
}

input[type='file'] {
  display: none;
}

.upload-icon {
  height: 70px;
  cursor: pointer;
}

/* .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  width: 100px;
  cursor: pointer;
} */
