  .userpage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  margin: 0.5rem 1.5rem;
  line-height: 2rem;
}

.userpage {
  margin: 0.5rem 0;
  line-height: 1.5rem;
  /* border-top: 2px solid #c8e0c3; */
}

td {
  margin-right: 10px;
  /* text-align: center; */
  vertical-align: top;
}


.my-tree-type {
  padding-right: 0.5rem;
}

.my-tree-address {
  padding-right: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  width: 40%;
}

.link-add-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-tree-edit {
  display: flex;
  justify-content: space-between;
}

.tree-edit-btn,
.userpage-title button {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

.tree-edit-btn img {
  width: 40%;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn {
  display: flex;
  color: #444;
  background-color: transparent;
  font-size: 1.8rem;
}

.userpage-btn {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.logout-btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid #af473c;
  background-color: transparent;
  color: #af473c;
}

.userpage-title {
  display: flex;
  justify-content: space-between;
}

.userpage-title img {
  width: 45%;
}

.tree-list {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 580px) {
  .userpage-container {
    margin: 0.5rem 3rem;
    padding: 5%;
    border: 2px solid #c8e0c3;
    background-color: white;
    border-radius: 12px;
  }
}

@media screen and (min-width: 620px) {
  .userpage-container {
  margin: 0.5rem 5rem;
}
}

@media only screen and (min-width: 690px)
{
  .userpage-container {
    margin: 0.5rem 7rem;
  }
}

@media only screen and (min-width: 754px)
{
  .userpage-container {
    margin: 0.5rem 9rem;
  }
}

@media only screen and (min-width: 940px)
{
  .userpage-container {
    margin: 0.5rem 13rem;
  
  }
}


@media only screen and (min-width: 1040px)
{
  .userpage-container {
    margin: 0.5rem 15rem;
  }
}

@media only screen and (min-width: 1100px)
{
  .userpage-container {
    margin: 0.5rem 18rem;
  }
}

@media only screen and (min-width: 1200px)
{
  .userpage-container {
    margin: 0.5rem 25rem;
  }
}