.userpage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  margin: 0.5rem 1rem;
  line-height: 2rem;
}

.userpage {
  margin: 0.5rem 0;
}

/* .trees-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
}

.my-trees {
  grid-area: 1 / 1 / 2 / 2;
} */

td {
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
}

/* .add-trees {
  grid-area: 1 / 2 / 2 / 3;
} */

.my-tree-address {
  padding: 0 .6rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  width: 40%;
}

.link-add-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-tree-edit{
  display: flex;
  justify-content: flex-end;
}

.userpage-btn {
  display: flex;
  justify-content: space-around;
}

.logout-btn {
  border: 2px solid #af473c;
  background-color: transparent;
  color: #af473c;
}

.settings-btn {
  border: none;
  background-color: rgba(128, 128, 128, 0.567);
  color: #f9f8f2;
}
